node_modules

public/main.js
public/main.css
public/fonts
public/images
public/**/*.html

functions/**/*.js
functions/**/*.js.map
out/**/*.js
out/**/*.js.map

.firebase
.firebaserc
firebase-debug.log
