node_modules
build

public/main.js
public/main.css
public/fonts
public/images
public/static
public/**/*.html

.firebase
.firebaserc
.env.local
firebase-debug.log

functions/src/shared/config/config.ts
